nav {
  color: white;
  height: 18vh;
  width: 100%;
  background-color: black;
  display: flex;
  position: fixed;
  z-index: 1;
}
nav .logo {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 65px;
}
nav .logo img {
  height: 60px;
  margin-right: 40px;
}
nav .logo h1 {
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 830px) {
  nav .logo {
    width: 30%;
    padding-left: 40px;
  }
}
nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 60px;
}
nav ul li a {
  color: white;
  padding: 20px;
  margin-right: 10px;
}
nav ul li a:hover {
  border: 1px solid red;
}
@media screen and (max-width: 600px) {
  nav ul li a {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 50px;
  }
}
@media screen and (max-width: 830px) {
  nav ul {
    width: 70%;
    display: flex;
    margin-right: 40px;
  }
}
@media screen and (max-width: 600px) {
  nav ul {
    width: 60%;
    right: -90%;
    display: flex;
    position: fixed;
    background-color: black;
    height: 50vh;
    top: 120px;
    text-align: center;
    flex-direction: column;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 600px) and (max-width: 600px) {
  nav #check:checked ~ ul {
    right: -37px;
  }
}

.home,
.about,
.contact {
  border: 1px solid red;
}

label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  line-height: 60px;
  margin-right: 40px;
  position: absolute;
  top: 30px;
  right: 0;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 600px) {
  label #btn {
    display: block;
  }
}
#check {
  display: none;
}

@media screen and (max-width: 600px) {
  #check:checked ~ label #btn {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #check:checked ~ label #cancel {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.footer {
  width: 20%;
  height: 100vh;
  padding-top: 20vh;
  padding-left: 10vh;
}
.footer .logo-pnc {
  height: 15%;
}
.footer .logo-pnc img {
  height: 50%;
  padding-left: 3vh;
}
@media screen and (max-width: 830px) {
  .footer .logo-pnc .logo-pnc img {
    height: 25%;
  }
}
@media screen and (max-width: 830px) {
  .footer .logo-pnc {
    height: 100%;
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .footer .logo-pnc {
    display: none;
  }
}
.footer .time-ate {
  height: 20%;
  padding-top: 3vh;
}
@media screen and (max-width: 830px) {
  .footer .time-ate {
    width: 25%;
    height: 100%;
    padding-top: 0vh;
  }
}
@media screen and (max-width: 600px) {
  .footer .time-ate {
    display: none;
  }
}
.footer .name-food {
  height: 25%;
  padding-top: 4vh;
}
@media screen and (max-width: 830px) {
  .footer .name-food {
    height: 100%;
    width: 25%;
    padding-top: 0vh;
  }
}
@media screen and (max-width: 600px) {
  .footer .name-food {
    display: none;
  }
}
.footer .socail-media {
  height: 20%;
  padding-top: 15vh;
}
.footer .socail-media i {
  padding: 8% 0% 0% 3%;
  font-size: 30px;
  color: #18cec3;
}
@media screen and (max-width: 830px) {
  .footer .socail-media .socail-media i {
    padding: 0% 0% 0% 3%;
  }
}
@media screen and (max-width: 600px) {
  .footer .socail-media .socail-media i {
    padding: 8% 0% 0% 5%;
  }
}
.footer .socail-media p {
  padding-left: 7%;
}
@media screen and (max-width: 600px) {
  .footer .socail-media .socail-media p {
    padding-left: 11%;
  }
}
@media screen and (max-width: 830px) {
  .footer .socail-media {
    height: 100%;
    width: 25%;
    padding-top: 0vh;
  }
}
@media screen and (max-width: 600px) {
  .footer .socail-media {
    width: 90%;
    height: 50%;
  }
}

@media screen and (max-width: 830px) {
  .footer {
    display: flex;
    height: 30vh;
    width: 100%;
    padding-top: 5vh;
    padding-left: 5vh;
    border-top: 2px solid black;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    padding-left: 12vh;
    padding-top: 2vh;
    height: 20vh;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  box-sizing: border-box;
  display: flex;
}
form .picture {
  width: 33%;
  height: 100vh;
  padding-top: 20vh;
}
form .picture img {
  padding-left: 15vh;
  height: 90%;
  width: 95%;
}
@media screen and (max-width: 830px) {
  form .picture img {
    height: 100%;
    width: 100%;
    padding-left: 0vh;
  }
}
@media screen and (max-width: 830px) {
  form .picture {
    width: 100%;
    height: 60vh;
    padding-top: 0vh;
  }
}
form .user-form {
  width: 47%;
  height: 100vh;
  padding-top: 20vh;
  padding-left: 15vh;
}
form .user-form h2 {
  display: none;
}
form .user-form input[type=text] {
  border: 2px solid black;
  height: 7vh;
  width: 91%;
  padding-left: 5px;
}
@media screen and (max-width: 830px) {
  form .user-form input[type=text] {
    border: 2px solid black;
    height: 7vh;
    width: 91%;
  }
}
@media screen and (max-width: 830px) {
  form .user-form h2 {
    display: block;
    padding-bottom: 5vh;
    padding-left: 35%;
  }
}
@media screen and (max-width: 600px) {
  form .user-form h2 {
    display: block;
    padding-left: 15%;
  }
}
form .user-form .user-name input, form .user-form .student-id input {
  height: 7vh;
  width: 45%;
  border: 2px solid black;
  padding-left: 5px;
}
form .user-form .student-id, form .user-form .email, form .user-form .feedback {
  padding-top: 5vh;
}
@media screen and (max-width: 600px) {
  form .user-form .student-id, form .user-form .email, form .user-form .feedback {
    padding-top: 3vh;
  }
}
@media screen and (max-width: 830px) {
  form .user-form {
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    padding-left: 6.5vh;
  }
}
@media screen and (max-width: 600px) {
  form .user-form {
    width: 100%;
    height: 80vh;
    padding-top: 5vh;
    padding-left: 4vh;
  }
}
form .feedback input[type=text] {
  height: 25vh;
  width: 91%;
  border: 2px solid black;
  padding-left: 5px;
}
@media screen and (max-width: 600px) {
  form .feedback input {
    height: 20vh;
  }
}
form .button {
  padding-top: 5vh;
}
form .button .btn {
  height: 7vh;
  width: 90%;
  border-radius: 20px;
  border: 2px solid #18cec3;
  background-color: #18cec3;
  color: white;
}
@media screen and (max-width: 830px) {
  form .button .btn {
    height: 7vh;
    width: 20%;
    margin-left: 70%;
    border-radius: 30px;
  }
}
@media screen and (max-width: 600px) {
  form .button .btn {
    height: 5vh;
    width: 30%;
    margin-left: 58%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 830px) {
  form {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=contact-us.css.map */